<!--
  source: https://www.w3schools.com/howto/howto_js_todolist.asp  (modified by netprogs.pl for the course purposes)
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {% block content %} {% endblock %}
</body>
{#<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>#}
{#<script>#}
{#    Swal.fire({#}
{#        title: 'Error!',#}
{#        text: 'Do you want to continue',#}
{#        icon: 'error',#}
{#        confirmButtonText: 'Cool'#}
{#    })#}
{#</script>#}
</html>
